
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.akun-FDb {
  flex-direction: column;
  padding-top: 0.8rem;
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  align-items: center;

  .group-26-xNu {
    width: 100%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    height: 15.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-TaZ {
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
    }
    .frame-8-JbB {
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-m6zo-3Ym {
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .home-mjf {
          text-align: center;
          font-size: 3.6rem;
          letter-spacing: -0.072rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.1rem;
          cursor: pointer;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 700;
          line-height: 0.8333333333;
        }
        .artikel-g5w {
          margin-right: 5.25rem;
          text-align: center;
          font-size: 3.6rem;
          letter-spacing: -0.072rem;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 700;
          line-height: 0.8333333333;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .pesanan-C4H {
          font-weight: 700;
          line-height: 0.8333333333;
          color: #000000;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.2rem;
          text-align: center;
          font-size: 3.6rem;
        }
        .akun-hmj {
          letter-spacing: -0.072rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          white-space: nowrap;
        }
      }
      .shopping-online-2-qN9 {
        width: 8.3rem;
        height: 7.7rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .auto-group-g6uf-igq {
    width: 100%;
    height: 117.3rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-7v6q-FRs {
      height: 25.4rem;
      position: absolute;
      left: 5.6rem;
      top: 5.7rem;
      display: flex;
      align-items: center;
      width: 129.8rem;

      .profile-1-yMs {
        width: 29rem;
        height: 25.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-fklm-W6u {
        box-sizing: border-box;
        padding: 3.9rem 0rem 2.05rem 6.15rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-mpi1-SFT {
          margin-right: 28.75rem;
          width: 37.8rem;
          height: 100%;
          flex-shrink: 0;

          .azzahra-a6m {
            width: 100%;
            line-height: 1.2125;
            color: #000000;
            margin-bottom: 2.35rem;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
          }
          .item-0895617789-HWy {
            white-space: nowrap;
            margin-bottom: 2.4rem;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            line-height: 1.2125;
            color: #000000;
            width: 100%;
            display: flex;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
          }
          .azzahra1gmailcom-Cdw {
            font-weight: 700;
            line-height: 1.2125;
            display: flex;
            align-items: center;
            font-size: 4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            justify-content: center;
          }
        }
        .group-30-isB {
          line-height: 1.2125;
          margin: 6.9rem 0rem 6.45rem 0rem;
          height: calc(100% - 13.35rem);
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.2rem #05fc00;
          box-sizing: border-box;
          width: 28.1rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          background-color: #6ac76e;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 4.8rem;
          border-radius: 5rem;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-p9ah-MQM {
      display: flex;
      align-items: center;
      width: 104.45rem;
      height: 5.4rem;
      position: absolute;
      left: 20.1rem;
      top: 45.6rem;

      .daftar-alamat-GGR {
        font-size: 3.8rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        margin: 0.7rem 76.05rem 0rem 0rem;
        align-items: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
      .item--Mof {
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        display: flex;
        align-items: center;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
        font-size: 3.8rem;
        line-height: 1.2125;
      }
    }
    .auto-group-h5jf-UtH {
      top: 57.7rem;
      display: flex;
      align-items: center;
      width: 104.5rem;
      height: 4.9rem;
      position: absolute;
      left: 20.05rem;

      .notifikasi-ovZ {
        justify-content: center;
        font-size: 3.8rem;
        color: #000000;
        margin: 0.2rem 84.1rem 0rem 0rem;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--vkH {
        font-size: 3.8rem;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.2rem;
        display: flex;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-hpgq-ewB {
      position: absolute;
      left: 19.9rem;
      top: 69.6rem;
      display: flex;
      align-items: center;
      width: 104.65rem;
      height: 4.9rem;

      .ganti-password-yiZ {
        align-items: center;
        justify-content: center;
        font-weight: 700;
        flex-shrink: 0;
        margin: 0.2rem 72.85rem 0rem 0rem;
        display: flex;
        font-size: 3.8rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--tqX {
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.2rem;
        justify-content: center;
        font-size: 3.8rem;
      }
    }
    .line-6-Dso {
      left: 12.3rem;
      top: 42rem;
      background-color: #6ac76e;
      width: 125rem;
      height: 0.3rem;
      position: absolute;
    }
    .line-7-ZAy {
      left: 12.3rem;
      top: 54.1rem;
      background-color: #6ac76e;
      width: 125rem;
      height: 0.3rem;
      position: absolute;
    }
    .line-8-6Ro {
      width: 125rem;
      height: 0.3rem;
      position: absolute;
      left: 12.3rem;
      top: 66.2rem;
      background-color: #6ac76e;
    }
    .line-9-RU5 {
      width: 125rem;
      height: 0.3rem;
      position: absolute;
      left: 12.3rem;
      top: 77.5rem;
      background-color: #6ac76e;
    }
    .group-29-MsX {
      position: absolute;
      white-space: nowrap;
      border-radius: 5rem;
      width: 37.5rem;
      top: 86.3rem;
      align-items: center;
      left: 12.3rem;
      display: flex;
      justify-content: center;
      font-size: 4.8rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      background-color: #6ac76e;
      height: 9.2rem;
      border: solid 0.2rem #05fc00;
      box-sizing: border-box;
      color: #000000;
    }
  }
  .frame-8-cHf {
    width: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    background-color: #6ac76e;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 4rem 11rem 2.9rem 11rem;
    position: relative;
    flex-direction: column;

    .subscribe-to-our-newsletter-YBK {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.1rem 2.9rem 0rem;
      font-size: 3.2rem;
    }
    .auto-group-djsf-rC1 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.9rem 4.6rem 0rem;
      width: calc(100% - 12.9rem);
      height: 14.8rem;

      .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-AyP {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.15625;
        letter-spacing: -0.064rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 47.7rem;
      }
      .auto-group-phpp-Fzq {
        box-sizing: border-box;
        padding: 3.4rem 0rem 4.9rem 13.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-14-BNh {
          padding: 1.8rem 1.617rem 1.7rem 1.617rem;
          align-items: center;
          font-size: 2.4rem;
          color: #000000;
          flex-shrink: 0;
          margin-right: 1.7683rem;
          font-weight: 500;
          background-color: #f5f5f5;
          justify-content: center;
          display: flex;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          border-radius: 1.5rem;
          box-sizing: border-box;
          height: 100%;
          width: 35.4317rem;
        }
        .submit-pRf {
          margin-bottom: 0.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-wmB {
      font-weight: 400;
      line-height: 0.9166666667;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 4.8rem;
      font-size: 2.4rem;
      letter-spacing: -0.048rem;
      flex-shrink: 0;
    }
  }
}
