
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.arikel-hvh {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 0.6rem;
  width: 100%;
  overflow: hidden;
  position: relative;

  .group-25-q1K {
    margin-bottom: 11.55rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0.8rem 4.5rem 1rem 6.2rem;
    width: 100%;
    height: 15.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    background-color: #ffffff;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-j6h {
      height: 13.9rem;
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 43.2rem;
      width: 13.9rem;
    }
    .frame-8-n4y {
      align-items: center;
      flex-shrink: 0;
      margin: 3.1rem 0;
      box-sizing: border-box;
      padding-right: 2.2rem;
      height: calc(100% - 6.2rem);
      cursor: pointer;
      display: flex;

      .auto-group-qrux-hhj {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 1.95rem;
        height: 100%;
        display: flex;
        align-items: center;

        .home-dLV {
          flex-shrink: 0;
          cursor: pointer;
          font-size: 3.6rem;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          color: #000000;
          white-space: nowrap;
          margin-right: 5.1rem;
          text-align: center;
          font-weight: 700;
          line-height: 0.8333333333;
        }
        .artikel-Kz1 {
          margin-right: 5.25rem;
          line-height: 0.8333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          letter-spacing: -0.072rem;
          color: #000000;
        }
        .pesanan-3v1 {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          flex-shrink: 0;
          margin-right: 5.2rem;
          cursor: pointer;
          text-align: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .akun-NSV {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          color: #000000;
          cursor: pointer;
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .shopping-online-2-6dP {
        width: 8.3rem;
        height: 7.7rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .artikel-BPw {
    width: 100%;
    justify-content: center;
    font-size: 6.4rem;
    line-height: 1.2125;
    flex-shrink: 0;
    white-space: nowrap;
    display: flex;
    align-items: center;
    font-weight: 700;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  .auto-group-4fn1-iPs {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 11.55rem 6.2rem 25.8rem 6.2rem;
    width: 100%;
    align-items: center;

    .auto-group-kbzh-2QZ {
      column-gap: 8.2rem;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 100%;
      display: flex;

      .rectangle-61-9zy {
        flex-shrink: 0;
        width: 38.4rem;
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
      }
      .rectangle-62-VZ3 {
        width: 38.4rem;
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
      }
      .rectangle-63-Qvu {
        border-radius: 4rem;
        flex-shrink: 0;
        width: 38.4rem;
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .auto-group-vttb-wvq {
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 5.1rem 2.55rem 0rem;
      display: flex;

      .pengendalian-hama-dan-penyakit-tanaman-pisang-HUu {
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        line-height: 1.2125;
        color: #000000;
        font-weight: 700;
        flex-shrink: 0;
        margin: 0.05rem 12rem 0rem 0rem;
        max-width: 34.6rem;
        font-size: 3.6rem;
      }
      .kandungan-nutrisi-dan-manfaat-buah-alpukat-ZxD {
        margin: 0.05rem 14.2rem 0rem 0rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;
        max-width: 32.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .teknik-panen-buah-kakao-yang-baik-T21 {
        flex-shrink: 0;
        max-width: 33.3rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-rard-mHb {
      margin: 0rem 12.2rem 11.6rem 0rem;
      height: 6.4rem;
      display: flex;
      column-gap: 20.4rem;
      align-items: center;
      flex-shrink: 0;

      .group-32-5p5 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        border-radius: 5rem;
        line-height: 1.2125;
        border: solid 0.1rem #05fc00;
        width: 26.2rem;
        height: 100%;
        font-size: 2.7rem;
        white-space: nowrap;
        background-color: #6ac76e;
        flex-shrink: 0;
      }
      .group-26-8nM {
        justify-content: center;
        box-sizing: border-box;
        width: 26.2rem;
        align-items: center;
        line-height: 1.2125;
        border: solid 0.1rem #05fc00;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
        flex-shrink: 0;
        height: 100%;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        background-color: #6ac76e;
        display: flex;
        font-size: 2.7rem;
      }
      .group-10-otV {
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        box-sizing: border-box;
        border-radius: 5rem;
        height: 100%;
        display: flex;
        justify-content: center;
        background-color: #6ac76e;
        width: 26.2rem;
        font-size: 2.7rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        border: solid 0.1rem #05fc00;
        flex-shrink: 0;
      }
    }
    .auto-group-yfht-ghP {
      margin: 0rem 1.5rem 2.9rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-64-cqw {
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
        margin-right: 8.2rem;
        width: 38.4rem;
        height: 19.4rem;
      }
      .rectangle-65-Lmw {
        margin-right: 6.6rem;
        width: 38.4rem;
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
      }
      .rectangle-66-eXj {
        width: 38.5rem;
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
      }
    }
    .auto-group-wn1p-PER {
      margin: 0rem 1.6rem 2.9rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .cara-menanam-daun-bawang-dalam-pot-WZw {
        margin-right: 9.5rem;
        max-width: 37.1rem;
        font-size: 3.6rem;
        line-height: 1.2125;
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .panduan-teknis-budidaya-pepaya-DjF {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        font-size: 3.6rem;
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;
        margin-right: 15rem;
        max-width: 30rem;
        display: flex;
      }
      .kiat-sukses-budidaya-cabe-rawit-Xzq {
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 38.4rem;
      }
    }
    .auto-group-1syj-rGR {
      flex-shrink: 0;
      margin: 0rem 13.8rem 14.6rem 0rem;
      height: 6.4rem;
      display: flex;
      align-items: center;

      .group-10-P1T {
        display: flex;
        font-size: 2.7rem;
        font-weight: 700;
        white-space: nowrap;
        background-color: #6ac76e;
        margin-right: 20.4rem;
        height: 100%;
        box-sizing: border-box;
        border-radius: 5rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        width: 26.2rem;
        line-height: 1.2125;
        border: solid 0.1rem #05fc00;
        color: #000000;
        justify-content: center;
      }
      .group-27-3bo {
        height: 100%;
        align-items: center;
        flex-shrink: 0;
        margin-right: 18.8rem;
        white-space: nowrap;
        border-radius: 5rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        justify-content: center;
        width: 26.2rem;
        color: #000000;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        background-color: #6ac76e;
        font-size: 2.7rem;
      }
      .group-28-KZK {
        width: 26.2rem;
        white-space: nowrap;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        background-color: #6ac76e;
        border-radius: 5rem;
        display: flex;
        font-size: 2.7rem;
        align-items: center;
        border: solid 0.1rem #05fc00;
        flex-shrink: 0;
        height: 100%;
        color: #000000;
      }
    }
    .auto-group-xzrz-bmj {
      margin: 0rem 1.5rem 2.3rem 0rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-67-jsw {
        height: 19.4rem;
        position: relative;
        background-position: 0.201rem -12.3191rem;
        background-image: url('REPLACE_IMAGE:cf830fe79c0571851e401e8dda518ebd2f1ad45d');
        border-radius: 4rem;
        width: 38.4rem;
        background-size: 100% 197.996%;
        flex-shrink: 0;
        margin-right: 8.2rem;
      }
      .rectangle-68-cwj {
        background-position: 0 -5.9135rem;
        border-radius: 4rem;
        margin-right: 6.6rem;
        width: 38.4rem;
        background-size: 100% 131.959%;
        flex-shrink: 0;
        height: 19.4rem;
        position: relative;
        background-image: url('REPLACE_IMAGE:7e6cc22daec34293a5174583e66233ac38e5958b');
      }
      .rectangle-69-vBj {
        height: 19.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 4rem;
        flex-shrink: 0;
        width: 38.5rem;
      }
    }
    .auto-group-jgky-3GM {
      margin: 0rem 3.6rem 1.05rem 0rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .manfaat-buah-manggis-bagi-kesehatan-yfo {
        max-width: 24.3rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.05rem 22.3rem 0rem 0rem;
        display: flex;
        color: #000000;
      }
      .manfaat-air-kelapa-hijau-5Tw {
        flex-shrink: 0;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        color: #000000;
        margin-right: 8.5rem;
        max-width: 36.5rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .panduan-teknis-budidaya-buah-naga-o93 {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 36.4rem;
        display: flex;
      }
    }
    .auto-group-eof7-uhs {
      margin-right: 13.8rem;
      height: 6.4rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-29-efT {
        font-weight: 700;
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #05fc00;
        height: 100%;
        margin-right: 20.4rem;
        width: 26.2rem;
        display: flex;
        font-size: 2.7rem;
        color: #000000;
        justify-content: center;
        background-color: #6ac76e;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        border-radius: 5rem;
        flex-shrink: 0;
      }
      .group-30-K9K {
        width: 26.2rem;
        font-size: 2.7rem;
        justify-content: center;
        border-radius: 5rem;
        margin-right: 18.8rem;
        height: 100%;
        line-height: 1.2125;
        white-space: nowrap;
        background-color: #6ac76e;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #05fc00;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        box-sizing: border-box;
      }
      .group-31-mn1 {
        width: 26.2rem;
        color: #000000;
        white-space: nowrap;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        background-color: #6ac76e;
        border-radius: 5rem;
        display: flex;
        font-size: 2.7rem;
        line-height: 1.2125;
        align-items: center;
        height: 100%;
        font-weight: 700;
        justify-content: center;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
  .frame-7-S7T {
    flex-direction: column;
    background-color: #6ac76e;
    flex-shrink: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    align-items: center;
    padding: 4rem 11rem 2.9rem 11rem;
    width: 100%;
    display: flex;

    .subscribe-to-our-newsletter-MVK {
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.1rem 2.9rem 0rem;
      font-size: 3.2rem;
    }
    .auto-group-ymfw-sCm {
      margin: 0rem 12.9rem 4.6rem 0rem;
      width: calc(100% - 12.9rem);
      height: 14.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-acy {
        max-width: 47.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.15625;
        letter-spacing: -0.064rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-c5xd-3mT {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.4rem 0rem 4.9rem 13.3rem;
        height: 100%;
        display: flex;

        .group-14-ZUu {
          margin-right: 1.7683rem;
          font-weight: 500;
          justify-content: center;
          height: 100%;
          align-items: center;
          font-size: 2.4rem;
          white-space: nowrap;
          background-color: #f5f5f5;
          border-radius: 1.5rem;
          padding: 1.8rem 1.617rem 1.7rem 1.617rem;
          display: flex;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          box-sizing: border-box;
          width: 35.4317rem;
        }
        .submit-oe9 {
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-Xq3 {
      margin-right: 4.8rem;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 0.9166666667;
      letter-spacing: -0.048rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
