
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.buah-QLh {
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;

  .group-25-8nV {
    box-sizing: border-box;
    width: 100%;
    height: 15.7rem;
    align-items: center;
    flex-shrink: 0;
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    display: flex;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    background-color: #ffffff;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-38m {
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
    }
    .frame-8-ghX {
      flex-shrink: 0;
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);
      display: flex;
      align-items: center;

      .auto-group-8x8y-Rv1 {
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;

        .home-MYm {
          margin-right: 5.1rem;
          font-size: 3.6rem;
          flex-shrink: 0;
          letter-spacing: -0.072rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-weight: 700;
          line-height: 0.8333333333;
        }
        .artikel-T61 {
          margin-right: 5.25rem;
          cursor: pointer;
          white-space: nowrap;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .pesanan-x2m {
          color: #000000;
          white-space: nowrap;
          margin-right: 5.2rem;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          cursor: pointer;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .akun-ewB {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-weight: 700;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
      }
      .shopping-online-2-nXb {
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 8.3rem;
        height: 7.7rem;
      }
    }
  }
  .auto-group-svu7-5Wh {
    padding: 15.4rem 0rem 0rem 0.5rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-29-zNm {
      align-items: center;
      border-radius: 5rem;
      flex-shrink: 0;
      margin: 0rem 65.5rem 10.7rem 12.7rem;
      width: calc(100% - 78.2rem);
      height: 10.9rem;
      display: flex;

      .auto-group-gaeu-hny {
        white-space: nowrap;
        background-color: #6ac76e;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 700;
        justify-content: center;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        border-radius: 5rem;
        width: 29.8rem;
        height: 100%;
        font-size: 4.8rem;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        margin-right: 5.7rem;
        line-height: 1.2125;
      }
      .auto-group-u937-ixy {
        width: 29.8rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        background-color: #6ac76e;
        display: flex;
        font-size: 4.8rem;
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        height: 100%;
        border-radius: 5rem;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
      }
    }
    .auto-group-ugvu-akH {
      margin: 0rem 12.3rem 4.55rem 13.5rem;
      width: calc(100% - 25.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .rectangle-24-Wdw {
        margin-right: 8.6rem;
        width: 33.2rem;
        height: 33.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .rectangle-26-SXb {
        position: relative;
        background-position: 0.3088rem -11.6805rem;
        border-radius: 2rem;
        flex-shrink: 0;
        background-image: url('REPLACE_IMAGE:f01c6dcae3d0e5047a8d99e173ba66fd95e22dfe');
        margin-right: 10.3rem;
        width: 32.9rem;
        height: 33.4rem;
        background-size: 100% 147.754%;
      }
      .rectangle-27-WGZ {
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 32.7rem;
        height: 33.4rem;
        object-fit: cover;
      }
    }
    .auto-group-sy9k-ETT {
      margin: 0rem 23.8rem 2.928rem 14rem;
      width: calc(100% - 37.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .pisang-500-gram-rp-11000-kwb {
        max-width: 17.4rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2102272246;
        color: #000000;
        margin: 0rem 26.1rem 0.05rem 0rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;

        .pisang-500-gram-rp-11000-kwb-sub-0 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
        }
        .pisang-500-gram-rp-11000-kwb-sub-1 {
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .pisang-500-gram-rp-11000-kwb-sub-2 {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .nanas-1-pcs-rp-10000-8Ks {
        max-width: 19.1rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0.05rem 23.2rem 0rem 0rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;

        .nanas-1-pcs-rp-10000-8Ks-sub-0 {
        }
        .nanas-1-pcs-rp-10000-8Ks-sub-1 {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
        }
        .nanas-1-pcs-rp-10000-8Ks-sub-2 {
        }
      }
      .strawberry-250-gram-rp-50000-uV3 {
        margin-top: 0.05rem;
        display: flex;
        font-size: 3.6rem;
        font-family: Inter, 'Source Sans Pro';
        max-width: 19.9rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;

        .strawberry-250-gram-rp-50000-uV3-sub-0 {
        }
        .strawberry-250-gram-rp-50000-uV3-sub-1 {
          font-size: 3.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .strawberry-250-gram-rp-50000-uV3-sub-2 {
        }
      }
    }
    .auto-group-uryo-Vi9 {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 15.826rem 6rem 12.7rem;
      width: calc(100% - 28.5265rem);
      height: 7.1721rem;

      .group-30-De9 {
        width: 29.1393rem;
        color: #000000;
        box-sizing: border-box;
        flex-shrink: 0;
        border-radius: 5rem;
        margin-right: 14.4113rem;
        display: flex;
        font-size: 2.4rem;
        white-space: nowrap;
        background-color: #6ac76e;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #05fc00;
      }
      .group-27-Ua5 {
        color: #000000;
        justify-content: center;
        background-color: #6ac76e;
        flex-shrink: 0;
        margin-right: 13.1443rem;
        width: 29.1393rem;
        height: 100%;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        border-radius: 5rem;
      }
      .group-28-knV {
        justify-content: center;
        border: solid 0.1rem #05fc00;
        border-radius: 5rem;
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
        align-items: center;
        height: 100%;
        color: #000000;
        box-sizing: border-box;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        background-color: #6ac76e;
        width: 29.1393rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
    .auto-group-nwez-d5b {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.3rem 4.6rem 12.7rem;
      width: calc(100% - 25rem);
      display: flex;

      .rectangle-25-wc5 {
        flex-shrink: 0;
        margin-right: 9.4rem;
        width: 33.2rem;
        height: 33.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
      .rectangle-28-Uc1 {
        width: 32.9rem;
        height: 33.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 10.3rem;
      }
      .rectangle-29-oPP {
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 32.7rem;
        height: 33.4rem;
      }
    }
    .auto-group-er6d-L8R {
      margin: 0rem 12.5rem 2.928rem 14rem;
      width: calc(100% - 26.5rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .jeruk-1-kg-rp-32000-s8M {
        margin-right: 23.9rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        max-width: 19.6rem;
        color: #000000;
        flex-shrink: 0;

        .jeruk-1-kg-rp-32000-s8M-sub-0 {
        }
        .jeruk-1-kg-rp-32000-s8M-sub-1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 400;
        }
        .jeruk-1-kg-rp-32000-s8M-sub-2 {
        }
      }
      .semangka-1-pcs-rp-38000-rky {
        font-size: 3.6rem;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        flex-shrink: 0;
        margin-right: 23.6rem;
        max-width: 18.7rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;

        .semangka-1-pcs-rp-38000-rky-sub-0 {
        }
        .semangka-1-pcs-rp-38000-rky-sub-1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 300;
        }
        .semangka-1-pcs-rp-38000-rky-sub-2 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
        }
        .semangka-1-pcs-rp-38000-rky-sub-3 {
        }
        .semangka-1-pcs-rp-38000-rky-sub-4 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
        }
      }
      .raspberry-frozen-500-gram-rp-130000-Y1X {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 31.2rem;
        display: flex;

        .raspberry-frozen-500-gram-rp-130000-Y1X-sub-0 {
        }
        .raspberry-frozen-500-gram-rp-130000-Y1X-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .raspberry-frozen-500-gram-rp-130000-Y1X-sub-2 {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .raspberry-frozen-500-gram-rp-130000-Y1X-sub-3 {
        }
        .raspberry-frozen-500-gram-rp-130000-Y1X-sub-4 {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .auto-group-f9bx-obf {
      margin: 0rem 15.826rem 6rem 12.7rem;
      width: calc(100% - 28.5265rem);
      height: 7.1721rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-31-vwB {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        box-sizing: border-box;
        border-radius: 5rem;
        flex-shrink: 0;
        font-weight: 700;
        justify-content: center;
        border: solid 0.1rem #05fc00;
        color: #000000;
        align-items: center;
        background-color: #6ac76e;
        white-space: nowrap;
        margin-right: 14.4113rem;
        width: 29.1393rem;
        height: 100%;
        display: flex;
        font-size: 2.4rem;
      }
      .group-32-bnR {
        height: 100%;
        box-sizing: border-box;
        background-color: #6ac76e;
        border-radius: 5rem;
        font-size: 2.4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        border: solid 0.1rem #05fc00;
        margin-right: 13.1443rem;
        line-height: 1.2125;
        flex-shrink: 0;
        width: 29.1393rem;
        display: flex;
        color: #000000;
      }
      .group-33-riM {
        display: flex;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        white-space: nowrap;
        width: 29.1393rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        background-color: #6ac76e;
        border-radius: 5rem;
        height: 100%;
        font-size: 2.4rem;
        color: #000000;
        align-items: center;
        justify-content: center;
      }
    }
    .auto-group-idmb-vCR {
      width: calc(100% - 25.8rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.3rem 4.6rem 13.5rem;

      .rectangle-30-329 {
        width: 33.2rem;
        height: 33.4rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 8.6rem;
      }
      .rectangle-31-NKK {
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 10.3rem;
        width: 32.9rem;
        height: 33.4rem;
      }
      .rectangle-32-6m7 {
        flex-shrink: 0;
        width: 32.7rem;
        height: 33.4rem;
        position: relative;
        background-size: 181.583% 100%;
        background-position: -9.6334rem 0;
        background-image: url('REPLACE_IMAGE:a98759317f81133ba253e82bd441f9068b46727f');
        border-radius: 2rem;
      }
    }
    .auto-group-kxyy-ofX {
      flex-shrink: 0;
      margin: 0rem 24.9rem 2.928rem 14rem;
      width: calc(100% - 38.9rem);
      display: flex;
      align-items: center;

      .alpukat-1-pcs-rp-20000-wFw {
        margin-right: 24.7rem;
        display: flex;
        color: #000000;
        flex-shrink: 0;
        max-width: 18.8rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';

        .alpukat-1-pcs-rp-20000-wFw-sub-0 {
        }
        .alpukat-1-pcs-rp-20000-wFw-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .alpukat-1-pcs-rp-20000-wFw-sub-2 {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .alpukat-1-pcs-rp-20000-wFw-sub-3 {
        }
        .alpukat-1-pcs-rp-20000-wFw-sub-4 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
        }
      }
      .mangga-1-kg-rp-30000-ztR {
        max-width: 18.9rem;
        display: flex;
        font-size: 3.6rem;
        font-weight: 700;
        color: #000000;
        margin-right: 23.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;

        .mangga-1-kg-rp-30000-ztR-sub-0 {
        }
        .mangga-1-kg-rp-30000-ztR-sub-1 {
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mangga-1-kg-rp-30000-ztR-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .mangga-1-kg-rp-30000-ztR-sub-3 {
        }
        .mangga-1-kg-rp-30000-ztR-sub-4 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
        }
      }
      .pepaya-1-pcs-rp-20000-gem {
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 18.8rem;
        display: flex;

        .pepaya-1-pcs-rp-20000-gem-sub-0 {
        }
        .pepaya-1-pcs-rp-20000-gem-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .pepaya-1-pcs-rp-20000-gem-sub-2 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 700;
        }
        .pepaya-1-pcs-rp-20000-gem-sub-3 {
        }
        .pepaya-1-pcs-rp-20000-gem-sub-4 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
      }
    }
    .auto-group-v5db-a7s {
      margin: 0rem 15.826rem 25rem 12.7rem;
      width: calc(100% - 28.5265rem);
      height: 7.1721rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .group-34-Vkd {
        width: 29.1393rem;
        height: 100%;
        color: #000000;
        white-space: nowrap;
        box-sizing: border-box;
        border: solid 0.1rem #05fc00;
        background-color: #6ac76e;
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        justify-content: center;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
        margin-right: 14.4113rem;
        align-items: center;
      }
      .group-35-mi9 {
        margin-right: 13.1443rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        flex-shrink: 0;
        display: flex;
        font-size: 2.4rem;
        border-radius: 5rem;
        height: 100%;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        background-color: #6ac76e;
        width: 29.1393rem;
        font-weight: 700;
        color: #000000;
        border: solid 0.1rem #05fc00;
      }
      .group-36-rjb {
        width: 29.1393rem;
        display: flex;
        font-size: 2.4rem;
        line-height: 1.2125;
        align-items: center;
        box-sizing: border-box;
        border-radius: 5rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        color: #000000;
        border: solid 0.1rem #05fc00;
        background-color: #6ac76e;
        height: 100%;
        white-space: nowrap;
        justify-content: center;
      }
    }
    .frame-9-MAZ {
      padding: 4rem 11rem 2.9rem 11rem;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      background-color: #6ac76e;
      flex-shrink: 0;
      box-sizing: border-box;
      flex-direction: column;
      width: 144rem;

      .subscribe-to-our-newsletter-UFB {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 78.1rem 2.9rem 0rem;
        font-size: 3.2rem;
        font-weight: 700;
        line-height: 1.2125;
      }
      .auto-group-peam-xRF {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 12.9rem 4.6rem 0rem;
        width: calc(100% - 12.9rem);
        height: 14.8rem;
        display: flex;

        .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-5Ey {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.15625;
          letter-spacing: -0.064rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 47.7rem;
        }
        .auto-group-hbeh-LRo {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.4rem 0rem 4.9rem 13.3rem;
          height: 100%;
          display: flex;
          align-items: center;

          .group-14-fiy {
            box-sizing: border-box;
            padding: 1.8rem 1.617rem 1.7rem 1.617rem;
            height: 100%;
            align-items: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-right: 1.7683rem;
            font-size: 2.4rem;
            font-weight: 500;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            border-radius: 1.5rem;
            width: 35.4317rem;
            line-height: 1.2125;
            background-color: #f5f5f5;
            flex-shrink: 0;
          }
          .submit-ihF {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
      }
      .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-FBP {
        font-family: Inter, 'Source Sans Pro';
        margin-right: 4.8rem;
        font-weight: 400;
        letter-spacing: -0.048rem;
        color: #000000;
        font-size: 2.4rem;
        line-height: 0.9166666667;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
