
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.checkout-zjB {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .group-26-wPX {
    box-sizing: border-box;
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-bottom: 13.1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    height: 15.7rem;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-eHw {
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
    }
    .frame-8-6vd {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);

      .auto-group-ub45-r97 {
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-NdF {
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 5.1rem;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
        }
        .artikel-HER {
          margin-right: 5.25rem;
          cursor: pointer;
          font-weight: 700;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .pesanan-QZw {
          margin-right: 5.2rem;
          font-weight: 700;
          letter-spacing: -0.072rem;
          color: #000000;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .akun-WN5 {
          cursor: pointer;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .shopping-online-2-Eos {
        width: 8.3rem;
        height: 7.7rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .alamat-pengiriman-cJd {
    white-space: nowrap;
    flex-shrink: 0;
    width: 100%;
    font-weight: 700;
    line-height: 0.625;
    letter-spacing: -0.096rem;
    color: #6ac76e;
    font-family: Inter, 'Source Sans Pro';
    text-align: center;
    font-size: 4.8rem;
  }
  .auto-group-aflm-8nm {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5.4rem 6.5rem 10.1rem 6.2rem;
    width: 100%;
    align-items: flex-end;
    display: flex;

    .group-40-4gR {
      flex-direction: column;
      border-radius: 2rem;
      flex-shrink: 0;
      margin-bottom: 30.2rem;
      width: 100%;
      display: flex;

      .auto-group-balq-oP7 {
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 131.1rem;
        height: 33.0942rem;
        background-color: #f4f5f4;
        margin-bottom: 2.9058rem;
        padding: 6.6rem 3.1rem 11.494rem 4.3rem;
        border: solid 0.4rem #6ac76e;

        .azzahra-62-8995617789-jl-cempaka-putih-no5-kota-jakarta-pusat-daerah-khusus-ibukota-jakarta-10520-WYR {
          max-width: 123.7rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 0.9375;
          letter-spacing: -0.064rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .auto-group-m1sf-Yk1 {
        box-sizing: border-box;
        align-items: center;
        flex-direction: column;
        border: solid 0.4rem #6ac76e;
        background-color: #f4f5f4;
        margin-bottom: 3rem;
        padding: 4.2rem 4.7rem 3.4rem 4.3rem;
        width: 131.1rem;
        display: flex;
        border-radius: 2rem;
        flex-shrink: 0;

        .auto-group-81km-fJq {
          margin: 0rem 1.8rem 10.2rem 0rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .produk-dipesan-PVj {
            line-height: 0.9375;
            color: #000000;
            flex-shrink: 0;
            margin-right: 20.1rem;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: -0.064rem;
          }
          .harga-satuan-uDB {
            letter-spacing: -0.064rem;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 7.3rem 0.3rem 0rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 0.9375;
            color: #6ac76e;
          }
          .jumlah-bbo {
            margin-right: 8.1rem;
            line-height: 0.9375;
            letter-spacing: -0.064rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            color: #6ac76e;
            font-family: Inter, 'Source Sans Pro';
          }
          .subtotal-gdF {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 0.9375;
            letter-spacing: -0.064rem;
            color: #6ac76e;
          }
        }
        .auto-group-r6xk-yMT {
          margin: 0rem 0.25rem 10.1rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-49-NPb {
            object-fit: cover;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 3rem;
            width: 21rem;
            height: 21rem;
          }
          .brokoli-500-gram-Vj7 {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 3.5rem 11.25rem 0rem 0rem;
            align-items: center;
            font-size: 3.2rem;
            font-family: Inter, 'Source Sans Pro';
            color: #000000;
            display: flex;
            justify-content: center;
            font-weight: 700;
            line-height: 1.2125;
          }
          .rp-18000-Q5P {
            white-space: nowrap;
            margin: 2.6rem 13.35rem 0rem 0rem;
            display: flex;
            justify-content: center;
            font-size: 3.2rem;
            color: #000000;
            align-items: center;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-1-6U1 {
            margin: 0.9rem 10.95rem 0rem 0rem;
            display: flex;
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .rp-18000-ACy {
            justify-content: center;
            font-size: 3.2rem;
            color: #000000;
            white-space: nowrap;
            margin-top: 2.6rem;
            align-items: center;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
          }
        }
        .auto-group-gasv-43T {
          margin: 0rem 0.55rem 11.6rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-13-Lmf {
            width: 21rem;
            height: 21rem;
            object-fit: cover;
            vertical-align: top;
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 3.35rem;
          }
          .pisang-500-gram-fow {
            flex-shrink: 0;
            display: flex;
            line-height: 1.2125;
            color: #000000;
            font-size: 3.2rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 4.5rem 11.4rem 0rem 0rem;
            align-items: center;
            justify-content: center;
          }
          .rp-11000-z5X {
            justify-content: center;
            flex-shrink: 0;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 3.6rem 13.65rem 0rem 0rem;
            display: flex;
            align-items: center;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.2125;
            white-space: nowrap;
          }
          .item-1-VY5 {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            font-weight: 700;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            margin: 1.9rem 11.25rem 0rem 0rem;
          }
          .rp-11000-Quw {
            align-items: center;
            flex-shrink: 0;
            margin-top: 3.6rem;
            display: flex;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            justify-content: center;
            font-size: 3.2rem;
          }
        }
        .auto-group-jugy-8qw {
          width: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .rectangle-3-5mB {
            width: 21rem;
            background-size: 100% 144.86%;
            background-image: url('REPLACE_IMAGE:6744e5be406a70be7a7c83dd5ccf1ecc8a8ffd5c');
            border-radius: 2rem;
            flex-shrink: 0;
            margin-right: 3.6rem;
            height: 21rem;
            position: relative;
            background-position: 0.1734rem -6.6834rem;
          }
          .terong-1-kg-yLm {
            flex-shrink: 0;
            margin: 4.1rem 19.4rem 0rem 0rem;
            align-items: center;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            font-size: 3.2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .rp-23000-HcM {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 1.6rem 13.1rem 0rem 0rem;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-size: 3.2rem;
            line-height: 1.2125;
          }
          .item-1-CzD {
            margin: 0rem 10.7rem 0.1rem 0rem;
            align-items: center;
            justify-content: center;
            font-size: 3.2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            display: flex;
            font-weight: 700;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rp-23000-Wk1 {
            justify-content: center;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            margin-top: 1.6rem;
            align-items: center;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            font-size: 3.2rem;
          }
        }
      }
      .auto-group-5meh-cHF {
        margin-left: 0.2rem;
        box-sizing: border-box;
        padding: 3.5rem 3.9rem 6.7rem 3.9rem;
        width: 131.1rem;
        border: solid 0.4rem #6ac76e;
        background-color: #f4f5f4;
        border-radius: 2rem;
        flex-shrink: 0;

        .metode-pembayaran-KhT {
          white-space: nowrap;
          margin-bottom: 2.9rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 0.75;
          letter-spacing: -0.08rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-wg6m-rBb {
          align-items: center;
          margin: 0rem 59.2rem 4.6rem 0.7rem;
          width: calc(100% - 59.9rem);
          display: flex;

          .auto-group-goc5-yX7 {
            white-space: nowrap;
            display: flex;
            align-items: center;
            border: solid 0.5rem #6ac76e;
            margin: 0.2rem 1.6rem 0rem 0rem;
            line-height: 0.75;
            width: 25.7rem;
            box-sizing: border-box;
            letter-spacing: -0.08rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            background-color: #f4f5f4;
            text-align: center;
            font-weight: 700;
            flex-shrink: 0;
            height: 7.4rem;
            font-size: 4rem;
          }
          .auto-group-wzbf-1ih {
            background-color: #f4f5f4;
            margin-bottom: 0.2rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
            line-height: 0.75;
            border: solid 0.5rem #6ac76e;
            height: 7.4rem;
            font-size: 4rem;
            font-weight: 700;
            align-items: center;
            flex-shrink: 0;
            width: 36.1rem;
            text-align: center;
            letter-spacing: -0.08rem;
          }
        }
        .ongkos-kirim-rp-0-g49 {
          white-space: nowrap;
          margin: 0rem 0rem 5.3rem 0.7rem;
          font-size: 4rem;
          font-weight: 700;
          line-height: 0.75;
          letter-spacing: -0.08rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .total-pesanan-3-produk-rp-52000--z4q {
          margin-left: 0.7rem;
          line-height: 0.75;
          letter-spacing: -0.08rem;
          white-space: nowrap;
          display: flex;
          align-items: baseline;
          font-size: 4rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';

          .total-pesanan-3-produk-rp-52000--z4q-sub-0 {
          }
          .total-pesanan-3-produk-rp-52000--z4q-sub-1 {
            letter-spacing: -0.08rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            font-size: 4rem;
            font-weight: 700;
            line-height: 0.75;
          }
        }
      }
    }
    .auto-group-gkbo-Fey {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      background-color: #6ac76e;
      margin-right: 1rem;
      font-size: 4rem;
      line-height: 1.2125;
      color: #000000;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      border: solid 0.2rem #05fc00;
      border-radius: 5rem;
      width: 31rem;
      height: 9.2rem;
      justify-content: center;
      box-sizing: border-box;
      font-weight: 700;
    }
  }
  .frame-8-7BP {
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: #6ac76e;
    display: flex;
    box-sizing: border-box;
    padding: 4rem 11rem 2.9rem 11rem;
    position: relative;
    align-items: center;

    .subscribe-to-our-newsletter-dvR {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.1rem 2.9rem 0rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-tpdf-kVF {
      flex-shrink: 0;
      margin: 0rem 12.9rem 4.6rem 0rem;
      width: calc(100% - 12.9rem);
      height: 14.8rem;
      display: flex;
      align-items: center;

      .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-fcD {
        flex-shrink: 0;
        max-width: 47.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.15625;
        letter-spacing: -0.064rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-sxks-kdf {
        padding: 3.4rem 0rem 4.9rem 13.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;

        .group-14-fVj {
          width: 35.4317rem;
          justify-content: center;
          font-weight: 500;
          background-color: #f5f5f5;
          flex-shrink: 0;
          margin-right: 1.7683rem;
          box-sizing: border-box;
          white-space: nowrap;
          padding: 1.8rem 1.617rem 1.7rem 1.617rem;
          display: flex;
          font-family: Inter, 'Source Sans Pro';
          height: 100%;
          font-size: 2.4rem;
          color: #000000;
          border-radius: 1.5rem;
          align-items: center;
          line-height: 1.2125;
        }
        .submit-K4V {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-dqs {
      white-space: nowrap;
      flex-shrink: 0;
      font-weight: 400;
      letter-spacing: -0.048rem;
      font-family: Inter, 'Source Sans Pro';
      color: #000000;
      margin-right: 4.8rem;
      font-size: 2.4rem;
      line-height: 0.9166666667;
    }
  }
}
