
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.dashboard-HTP {
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-25-dXF {
    height: 15.7rem;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    width: 100%;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    box-sizing: border-box;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-krm {
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
    }
    .frame-8-ce5 {
      align-items: center;
      flex-shrink: 0;
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);
      display: flex;

      .auto-group-bfj1-Mbf {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .home-tLh {
          cursor: pointer;
          text-align: center;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.1rem;
          font-size: 3.6rem;
          font-weight: 700;
          font-family: Inter, 'Source Sans Pro';
        }
        .artikel-bku {
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 5.25rem;
          text-align: center;
          font-size: 3.6rem;
          color: #000000;
        }
        .pesanan-jMK {
          margin-right: 5.2rem;
          cursor: pointer;
          font-size: 3.6rem;
          font-weight: 700;
          letter-spacing: -0.072rem;
          color: #000000;
          flex-shrink: 0;
          text-align: center;
          line-height: 0.8333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .akun-rRw {
          cursor: pointer;
          text-align: center;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.6rem;
          font-weight: 700;
          color: #000000;
        }
      }
      .shopping-online-2-ymT {
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 8.3rem;
        height: 7.7rem;
      }
    }
  }
  .auto-group-s7rh-UiD {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 177.8rem;

    .sayur-sayuran-2Dw {
      color: #000000;
      width: 28.9rem;
      left: 5.4rem;
      top: 55.9rem;
      display: flex;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 4.9rem;
      position: absolute;
      white-space: nowrap;
    }
    .auto-group-1hhk-Wuo {
      height: 20.2rem;
      position: absolute;
      left: 6rem;
      top: 65.1rem;
      display: flex;
      align-items: center;
      width: 129.35rem;

      .rectangle-3-Rms {
        background-size: 100% 144.86%;
        background-image: url('REPLACE_IMAGE:6744e5be406a70be7a7c83dd5ccf1ecc8a8ffd5c');
        border-radius: 2rem;
        flex-shrink: 0;
        width: 20.9rem;
        height: 20.2rem;
        position: relative;
        margin-right: 5.4rem;
        background-position: 0.1725rem -6.4288rem;
      }
      .rectangle-21-78u {
        height: 20.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 6.4rem;
        width: 20.9rem;
      }
      .rectangle-22-dd3 {
        margin: 0rem 6.4rem 0.3rem 0rem;
        width: 20.7rem;
        height: 19.9rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .rectangle-10-M3F {
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 3.55rem;
        width: 20.9rem;
        height: 20.2rem;
        object-fit: cover;
      }
      .lihat-semua-HBo {
        align-items: center;
        font-size: 4rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.1rem;
        cursor: pointer;
        line-height: 1.2125;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
      }
    }
    .auto-group-gmbp-CZf {
      align-items: center;
      width: 91.5rem;
      height: 9.7rem;
      position: absolute;
      left: 6.2rem;
      top: 87.55rem;
      display: flex;

      .terong-1-kg-rp-23000-8iD {
        margin-right: 17.1rem;
        font-size: 2rem;
        max-width: 10.4rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;

        .terong-1-kg-rp-23000-8iD-sub-0 {
        }
        .terong-1-kg-rp-23000-8iD-sub-1 {
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .terong-1-kg-rp-23000-8iD-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .terong-1-kg-rp-23000-8iD-sub-3 {
        }
        .terong-1-kg-rp-23000-8iD-sub-4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .brokoli-500-gram-rp-18000-quT {
        font-family: Inter, 'Source Sans Pro';
        max-width: 10.2rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.2125;
        margin-right: 16.5rem;
        font-weight: 700;
        color: #000000;
        flex-shrink: 0;

        .brokoli-500-gram-rp-18000-quT-sub-0 {
        }
        .brokoli-500-gram-rp-18000-quT-sub-1 {
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .brokoli-500-gram-rp-18000-quT-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .brokoli-500-gram-rp-18000-quT-sub-3 {
        }
        .brokoli-500-gram-rp-18000-quT-sub-4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .bawang-merah-200-gram-rp-13000-JgZ {
        font-size: 2rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 12.5rem;
        max-width: 14.6rem;

        .bawang-merah-200-gram-rp-13000-JgZ-sub-0 {
        }
        .bawang-merah-200-gram-rp-13000-JgZ-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .bawang-merah-200-gram-rp-13000-JgZ-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .bawang-merah-200-gram-rp-13000-JgZ-sub-3 {
        }
        .bawang-merah-200-gram-rp-13000-JgZ-sub-4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .wortel-1-kg-rp-19000-AcH {
        flex-shrink: 0;
        max-width: 10.2rem;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';

        .wortel-1-kg-rp-19000-AcH-sub-0 {
        }
        .wortel-1-kg-rp-19000-AcH-sub-1 {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 300;
        }
        .wortel-1-kg-rp-19000-AcH-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .wortel-1-kg-rp-19000-AcH-sub-3 {
        }
        .wortel-1-kg-rp-19000-AcH-sub-4 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
        }
      }
    }
    .buah-buahan-s9K {
      width: 26.5rem;
      position: absolute;
      left: 6rem;
      top: 114.1rem;
      display: flex;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      height: 4.9rem;
      font-size: 4rem;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
    }
    .auto-group-uhpf-mkV {
      width: 129.95rem;
      height: 20.2rem;
      position: absolute;
      left: 5.4rem;
      top: 123.3rem;
      display: flex;
      align-items: center;

      .rectangle-13-VwP {
        margin-right: 6rem;
        width: 20.9rem;
        height: 20.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .rectangle-14-Ra9 {
        width: 20.9rem;
        position: relative;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-right: 6rem;
        height: 20.2rem;
        background-size: 100% 155.198%;
        background-position: 0.2932rem -7.6275rem;
        background-image: url('REPLACE_IMAGE:f01c6dcae3d0e5047a8d99e173ba66fd95e22dfe');
      }
      .rectangle-15-hnZ {
        flex-shrink: 0;
        margin-right: 6.6rem;
        width: 21.7rem;
        height: 20.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
      }
      .rectangle-16-35j {
        flex-shrink: 0;
        margin-right: 3.55rem;
        width: 20.1rem;
        height: 20.2rem;
        position: relative;
        background-size: 134.032% 100%;
        background-image: url('REPLACE_IMAGE:f6cdab384ada309508a27c672d95fe72429a92b0');
        border-radius: 2rem;
      }
      .lihat-semua-wwo {
        margin-bottom: 0.1rem;
        font-size: 4rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-reav-GDP {
      align-items: center;
      width: 99.7rem;
      height: 3.8rem;
      position: absolute;
      left: 5.4rem;
      top: 98.6rem;
      display: flex;

      .group-14-nxR {
        box-sizing: border-box;
        border-radius: 5rem;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        font-size: 1.6rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
        border: solid 0.1rem #05fc00;
        background-color: #6ac76e;
        width: 18.4rem;
        font-weight: 700;
        color: #000000;
        align-items: center;
        margin-right: 9.1rem;
        white-space: nowrap;
      }
      .group-15-rxH {
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        display: flex;
        font-weight: 700;
        border: solid 0.1rem #05fc00;
        margin-right: 8.3rem;
        width: 18.4rem;
        height: 100%;
        font-size: 1.6rem;
        background-color: #6ac76e;
        flex-shrink: 0;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 5rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .group-16-izV {
        font-size: 1.6rem;
        font-weight: 700;
        color: #000000;
        background-color: #6ac76e;
        margin-right: 8.7rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        width: 18.4rem;
        height: 100%;
        justify-content: center;
        border-radius: 5rem;
      }
      .group-17-b2h {
        height: 100%;
        white-space: nowrap;
        align-items: center;
        display: flex;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.6rem;
        line-height: 1.2125;
        border: solid 0.1rem #05fc00;
        flex-shrink: 0;
        width: 18.4rem;
        justify-content: center;
        box-sizing: border-box;
        background-color: #6ac76e;
        border-radius: 5rem;
      }
    }
    .auto-group-ep1b-5Cm {
      align-items: center;
      width: 92.4rem;
      height: 9.7rem;
      position: absolute;
      left: 6.2rem;
      top: 146.05rem;
      display: flex;

      .pisang-500-gram-rp-11000-QF3 {
        color: #000000;
        margin-right: 17.8rem;
        display: flex;
        font-size: 2rem;
        line-height: 1.2125;
        max-width: 9.8rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;

        .pisang-500-gram-rp-11000-QF3-sub-0 {
        }
        .pisang-500-gram-rp-11000-QF3-sub-1 {
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .pisang-500-gram-rp-11000-QF3-sub-2 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
        }
        .pisang-500-gram-rp-11000-QF3-sub-3 {
        }
        .pisang-500-gram-rp-11000-QF3-sub-4 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
        }
      }
      .nanas-1-pcs-rp-10000-T6q {
        max-width: 10.2rem;
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 16.4rem;
        display: flex;
        line-height: 1.2125;

        .nanas-1-pcs-rp-10000-T6q-sub-0 {
        }
        .nanas-1-pcs-rp-10000-T6q-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .nanas-1-pcs-rp-10000-T6q-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .nanas-1-pcs-rp-10000-T6q-sub-3 {
        }
        .nanas-1-pcs-rp-10000-T6q-sub-4 {
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
        }
      }
      .jeruk-1-kg-rp-32000-jiZ {
        max-width: 10.5rem;
        display: flex;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        margin-right: 16.6rem;
        font-size: 2rem;
        font-family: Inter, 'Source Sans Pro';

        .jeruk-1-kg-rp-32000-jiZ-sub-0 {
        }
        .jeruk-1-kg-rp-32000-jiZ-sub-1 {
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .jeruk-1-kg-rp-32000-jiZ-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .jeruk-1-kg-rp-32000-jiZ-sub-3 {
        }
        .jeruk-1-kg-rp-32000-jiZ-sub-4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .strawberry-250-gram-rp-50000-Rjo {
        flex-shrink: 0;
        max-width: 11.1rem;
        display: flex;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';

        .strawberry-250-gram-rp-50000-Rjo-sub-0 {
        }
        .strawberry-250-gram-rp-50000-Rjo-sub-1 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 300;
          line-height: 1.2125;
        }
        .strawberry-250-gram-rp-50000-Rjo-sub-2 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .strawberry-250-gram-rp-50000-Rjo-sub-3 {
        }
        .strawberry-250-gram-rp-50000-Rjo-sub-4 {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .auto-group-pvar-vKB {
      position: absolute;
      left: 5.4rem;
      top: 157.1rem;
      display: flex;
      align-items: center;
      width: 99.7rem;
      height: 3.8rem;

      .group-18-Eqf {
        width: 18.4rem;
        font-size: 1.6rem;
        justify-content: center;
        background-color: #6ac76e;
        border-radius: 5rem;
        font-weight: 700;
        line-height: 1.2125;
        white-space: nowrap;
        box-sizing: border-box;
        margin-right: 9.1rem;
        color: #000000;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #05fc00;
      }
      .group-19-uwo {
        font-weight: 700;
        justify-content: center;
        border-radius: 5rem;
        display: flex;
        color: #000000;
        align-items: center;
        line-height: 1.2125;
        height: 100%;
        font-family: Inter, 'Source Sans Pro';
        border: solid 0.1rem #05fc00;
        box-sizing: border-box;
        background-color: #6ac76e;
        flex-shrink: 0;
        margin-right: 8.3rem;
        font-size: 1.6rem;
        white-space: nowrap;
        width: 18.4rem;
      }
      .group-20-CAD {
        width: 18.4rem;
        display: flex;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        box-sizing: border-box;
        border-radius: 5rem;
        font-weight: 700;
        white-space: nowrap;
        justify-content: center;
        border: solid 0.1rem #05fc00;
        background-color: #6ac76e;
        flex-shrink: 0;
        margin-right: 8.7rem;
        height: 100%;
        font-size: 1.6rem;
        line-height: 1.2125;
      }
      .group-21-fZb {
        height: 100%;
        color: #000000;
        border: solid 0.1rem #05fc00;
        flex-shrink: 0;
        display: flex;
        font-weight: 700;
        align-items: center;
        background-color: #6ac76e;
        font-size: 1.6rem;
        line-height: 1.2125;
        white-space: nowrap;
        justify-content: center;
        box-sizing: border-box;
        width: 18.4rem;
        font-family: Inter, 'Source Sans Pro';
        border-radius: 5rem;
      }
    }
    .component-1-Z9B {
      width: 133.3rem;
      height: 35.1rem;
      position: absolute;
      left: 5.4rem;
      top: 11.4rem;

      .rectangle-23-fxu {
        left: 0;
        top: 0;
        overflow: hidden;
        z-index: 0;
        border-radius: 4rem;
        width: 131.7rem;
        height: 35.1rem;
        position: relative;

        &:before {
          width: 100%;
          height: 100%;
          z-index: -1;
          background-image: url('REPLACE_IMAGE:2e677e1ebdf91d74ef5dd3124b8c313a5e92843d');
          background-repeat: round;
          transform: matrix(0, 0.7494989958, -3.7521367521, 0, 3.0696372986, -316.1573920553);
          content: "";
          position: absolute;

        }
      }
      .mau-belanja-tapi-males-keluar-gak-perlu-pusing-tenang-ada-kami-disini-KnZ {
        display: flex;
        align-items: center;
        line-height: 0.9375;
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        width: 107.5rem;
        top: 24.8rem;
        font-weight: 700;
        letter-spacing: -0.064rem;
        left: 13.7rem;
        justify-content: center;
        font-size: 3.2rem;
        color: #fffbfb;
      }
      .selamat-datang-ycD {
        left: 42.15rem;
        display: flex;
        align-items: center;
        font-size: 6.4rem;
        font-weight: 700;
        height: 3rem;
        color: #fffbfb;
        white-space: nowrap;
        width: 47.3rem;
        top: 9.2rem;
        line-height: 0.46875;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        letter-spacing: -0.128rem;
        justify-content: center;
      }
    }
  }
  .frame-7-G5X {
    position: relative;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    background-color: #6ac76e;
    flex-shrink: 0;
    padding: 4rem 11rem 2.9rem 11rem;

    .subscribe-to-our-newsletter-aM7 {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.1rem 2.9rem 0rem;
      font-size: 3.2rem;
      font-weight: 700;
    }
    .auto-group-58ks-guw {
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 12.9rem 4.6rem 0rem;
      width: calc(100% - 12.9rem);
      height: 14.8rem;
      display: flex;

      .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-akR {
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.15625;
        letter-spacing: -0.064rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 47.7rem;
      }
      .auto-group-b4jk-rxq {
        box-sizing: border-box;
        padding: 3.4rem 0rem 4.9rem 13.3rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-14-CG1 {
          font-weight: 500;
          white-space: nowrap;
          padding: 1.8rem 1.617rem 1.7rem 1.617rem;
          display: flex;
          justify-content: center;
          color: #000000;
          margin-right: 1.7683rem;
          align-items: center;
          font-size: 2.4rem;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          width: 35.4317rem;
          height: 100%;
          background-color: #f5f5f5;
          border-radius: 1.5rem;
          flex-shrink: 0;
        }
        .submit-rLZ {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
        }
      }
    }
    .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-Nph {
      font-size: 2.4rem;
      line-height: 0.9166666667;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.8rem;
      font-weight: 400;
      letter-spacing: -0.048rem;
      color: #000000;
    }
  }
}
