
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.keranjang-Dxm {
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;

  .group-25-dWh {
    background-color: #ffffff;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    height: 15.7rem;
    align-items: center;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-AoT {
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
      position: relative;
      background-size: 170.543% 170.543%;
    }
    .frame-8-Agy {
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-mm77-Hmb {
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .home-PJq {
          letter-spacing: -0.072rem;
          white-space: nowrap;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 5.1rem;
          cursor: pointer;
          line-height: 0.8333333333;
        }
        .artikel-EKT {
          font-weight: 700;
          flex-shrink: 0;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          margin-right: 5.25rem;
          cursor: pointer;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          white-space: nowrap;
        }
        .pesanan-YL9 {
          line-height: 0.8333333333;
          color: #000000;
          margin-right: 5.2rem;
          cursor: pointer;
          font-size: 3.6rem;
          font-weight: 700;
          flex-shrink: 0;
          text-align: center;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .akun-Eim {
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
          font-size: 3.6rem;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .shopping-online-2-YzM {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 8.3rem;
        height: 7.7rem;
      }
    }
  }
  .auto-group-efub-CZ7 {
    width: 100%;
    height: 153.8rem;
    position: relative;
    flex-shrink: 0;

    .auto-group-doj1-iXT {
      align-items: center;
      width: 35.45rem;
      height: 8rem;
      position: absolute;
      left: 6rem;
      top: 11.7rem;
      display: flex;

      .rectangle-35-qMB {
        vertical-align: top;
        border-radius: 1rem;
        flex-shrink: 0;
        margin-right: 4.65rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
      }
      .pilih-semua-jhT {
        margin-top: 0.1rem;
        display: flex;
        align-items: center;
        font-size: 4rem;
        line-height: 1.2125;
        flex-shrink: 0;
        justify-content: center;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .line-2-dnq {
      width: 118.4rem;
      height: 0.1rem;
      position: absolute;
      left: 18.6rem;
      top: 22.9rem;
      background-color: #000000;
    }
    .auto-group-x3tf-Y97 {
      top: 30.8rem;
      display: flex;
      align-items: center;
      width: 129.7rem;
      height: 24.5rem;
      position: absolute;
      left: 6rem;

      .rectangle-46-3rZ {
        border-radius: 1rem;
        flex-shrink: 0;
        margin: 3.1rem 4.6rem 0rem 0rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-21-9eh {
        width: 26.4rem;
        height: 24.5rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
      }
      .auto-group-ssvp-Sdo {
        box-sizing: border-box;
        padding: 3.9rem 0rem 0.85rem 8.95rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-mvx3-wKf {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 10.35rem;
          height: 100%;
          align-items: center;

          .brokoli-500-gram-G73 {
            align-items: center;
            justify-content: center;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            max-width: 19.1rem;
            display: flex;
            font-size: 4rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 5.15rem;
          }
          .rp-18000--HAZ {
            justify-content: center;
            font-weight: 700;
            color: #000000;
            display: flex;
            align-items: center;
            font-size: 4rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .group-4-CoK {
          margin: 4.8rem 9.5rem 6.85rem 0rem;
          height: calc(100% - 11.65rem);
          display: flex;
          column-gap: 5.3rem;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;

          .auto-group-q7rr-uSq {
            white-space: nowrap;
            box-sizing: border-box;
            width: 8rem;
            display: flex;
            flex-shrink: 0;
            height: 8rem;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.4rem #6ac76e;
            margin-bottom: 0.1rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #fffbfb;
            border-radius: 1rem;
          }
          .item-1-hdb {
            align-items: center;
            font-weight: 700;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            display: flex;
            color: #000000;
            justify-content: center;
            font-size: 4rem;
          }
          .auto-group-esqb-CKT {
            display: flex;
            border: solid 0.4rem #6ac76e;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            flex-shrink: 0;
            height: 8rem;
            align-items: center;
            justify-content: center;
            line-height: 1.2125;
            white-space: nowrap;
            box-sizing: border-box;
            margin-top: 0.1rem;
            font-weight: 700;
            border-radius: 1rem;
            width: 8rem;
            font-size: 4rem;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            background-color: #fffbfb;
          }
        }
        .image-1-Afb {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.45rem;
          width: 9rem;
          height: 9rem;
          object-fit: cover;
        }
      }
    }
    .auto-group-4dtp-UwB {
      display: flex;
      align-items: center;
      width: 129.7rem;
      height: 25.5rem;
      position: absolute;
      left: 6rem;
      top: 67.2rem;

      .rectangle-47-nBB {
        flex-shrink: 0;
        margin: 0rem 4.6rem 0.5rem 0rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .rectangle-13-H7w {
        vertical-align: top;
        border-radius: 2rem;
        flex-shrink: 0;
        width: 26.4rem;
        height: 25.5rem;
        object-fit: cover;
      }
      .auto-group-uwxb-1pd {
        box-sizing: border-box;
        padding: 2.3rem 0rem 3.45rem 9.35rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-6-jEq {
          margin-right: 10.75rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .pisang-500-gram-5Zb {
            margin-bottom: 5.15rem;
            max-width: 19.1rem;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
          }
          .rp-11000--xdP {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            line-height: 1.2125;
            color: #000000;
            flex-shrink: 0;
            font-weight: 700;
          }
        }
        .group-7-fGu {
          flex-shrink: 0;
          margin: 6.4rem 9.5rem 5.25rem 0rem;
          height: calc(100% - 11.65rem);
          display: flex;
          column-gap: 5.3rem;
          align-items: center;
          border-radius: 1rem;

          .auto-group-6pnm-mqj {
            align-items: center;
            line-height: 1.2125;
            color: #000000;
            white-space: nowrap;
            margin-bottom: 0.1rem;
            font-weight: 700;
            border: solid 0.4rem #6ac76e;
            flex-shrink: 0;
            font-size: 4rem;
            font-family: Inter, 'Source Sans Pro';
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            border-radius: 1rem;
            justify-content: center;
            height: 8rem;
            display: flex;
            box-sizing: border-box;
            background-color: #fffbfb;
            width: 8rem;
          }
          .item-1-BeZ {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            align-items: center;
            white-space: nowrap;
            display: flex;
            justify-content: center;
          }
          .auto-group-tpay-72R {
            margin-top: 0.1rem;
            width: 8rem;
            font-family: Inter, 'Source Sans Pro';
            height: 8rem;
            display: flex;
            font-weight: 700;
            flex-shrink: 0;
            justify-content: center;
            white-space: nowrap;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #fffbfb;
            border: solid 0.4rem #6ac76e;
            box-sizing: border-box;
            border-radius: 1rem;
            align-items: center;
            font-size: 4rem;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .image-2-kbB {
          flex-shrink: 0;
          margin-top: 3.65rem;
          width: 9rem;
          height: 9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
    .auto-group-rezu-Hb7 {
      width: 129.7rem;
      height: 26.2rem;
      position: absolute;
      left: 6rem;
      top: 103.6rem;
      display: flex;
      align-items: center;

      .rectangle-48-1n1 {
        flex-shrink: 0;
        margin: 2.8rem 4.6rem 0rem 0rem;
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1rem;
      }
      .rectangle-3-8rd {
        background-position: 0.2179rem -8.3384rem;
        background-image: url('REPLACE_IMAGE:6744e5be406a70be7a7c83dd5ccf1ecc8a8ffd5c');
        border-radius: 2rem;
        flex-shrink: 0;
        width: 26.4rem;
        height: 26.2rem;
        position: relative;
        background-size: 100% 144.86%;
      }
      .auto-group-1xz1-Ba1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.6rem 0rem 3.85rem 8.7rem;
        height: 100%;
        display: flex;
        align-items: center;

        .group-5-uF7 {
          margin-right: 10.1rem;
          height: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .terong-1-kg-eiV {
            margin-bottom: 5.15rem;
            max-width: 13.8rem;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            line-height: 1.2125;
          }
          .rp-23000--mHK {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            color: #000000;
            align-items: center;
            justify-content: center;
            font-size: 4rem;
            font-weight: 700;
            line-height: 1.2125;
            flex-shrink: 0;
            display: flex;
          }
        }
        .group-8-Vj7 {
          display: flex;
          column-gap: 5.3rem;
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          margin: 6.1rem 9.5rem 5.55rem 0rem;
          height: calc(100% - 11.65rem);

          .auto-group-bptk-1Bf {
            font-family: Inter, 'Source Sans Pro';
            border-radius: 1rem;
            align-items: center;
            line-height: 1.2125;
            border: solid 0.4rem #6ac76e;
            background-color: #fffbfb;
            margin-bottom: 0.1rem;
            color: #000000;
            justify-content: center;
            white-space: nowrap;
            box-sizing: border-box;
            flex-shrink: 0;
            height: 8rem;
            display: flex;
            font-weight: 700;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            width: 8rem;
            font-size: 4rem;
          }
          .item-1-TZT {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.2rem;
            justify-content: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            display: flex;
            align-items: center;
            font-size: 4rem;
            font-weight: 700;
          }
          .auto-group-6bym-b9s {
            flex-shrink: 0;
            width: 8rem;
            display: flex;
            font-size: 4rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            box-sizing: border-box;
            justify-content: center;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            border: solid 0.4rem #6ac76e;
            border-radius: 1rem;
            margin-top: 0.1rem;
            height: 8rem;
            line-height: 1.2125;
            white-space: nowrap;
            align-items: center;
            font-weight: 700;
            background-color: #fffbfb;
          }
        }
        .image-3-3Xf {
          flex-shrink: 0;
          margin-top: 3.05rem;
          width: 9rem;
          height: 9rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
  .line-3-xed {
    height: 0.5rem;
    background-color: #6ac76e;
    flex-shrink: 0;
    margin-bottom: 8.9rem;
    width: 100%;
  }
  .auto-group-pzm7-g4q {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 8.3rem 14.8rem 9.7rem;
    width: calc(100% - 18rem);

    .auto-group-fv8y-PV3 {
      box-sizing: border-box;
      white-space: nowrap;
      justify-content: center;
      color: #000000;
      flex-shrink: 0;
      height: 7.8rem;
      align-items: center;
      font-size: 4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      border-radius: 5rem;
      width: 20rem;
      display: flex;
      border: solid 0.1rem #05fc00;
      background-color: #6ac76e;
      margin: 0.4rem 22.3rem 0rem 0rem;
    }
    .rp-52000--EEm {
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 4rem;
      justify-content: center;
      line-height: 1.2125;
      color: #000000;
      margin-right: 36.6rem;
      align-items: center;
    }
    .auto-group-v5gm-8UZ {
      font-weight: 700;
      flex-shrink: 0;
      margin-bottom: 0.4rem;
      display: flex;
      align-items: center;
      font-size: 4rem;
      color: #000000;
      white-space: nowrap;
      background-color: #6ac76e;
      font-family: Inter, 'Source Sans Pro';
      border: solid 0.1rem #05fc00;
      box-sizing: border-box;
      border-radius: 5rem;
      width: 22.3rem;
      height: 7.8rem;
      justify-content: center;
      line-height: 1.2125;
    }
  }
  .auto-group-9qpq-mGd {
    flex-shrink: 0;
    width: 100%;
    height: 35.3rem;
    border-top: solid 0.5rem #6ac76e;
    box-sizing: border-box;

    .frame-7-JnM {
      flex-direction: column;
      position: relative;
      align-items: center;
      display: flex;
      height: 100%;
      overflow: hidden;
      background-color: #6ac76e;
      box-sizing: border-box;
      padding: 4rem 11rem 2.9rem 11rem;
      width: 100%;

      .subscribe-to-our-newsletter-Ccq {
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 78.1rem 2.9rem 0rem;
        font-size: 3.2rem;
      }
      .auto-group-v7jf-Vbw {
        width: calc(100% - 12.9rem);
        height: 14.8rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 12.9rem 4.6rem 0rem;

        .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-14V {
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.15625;
          letter-spacing: -0.064rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 47.7rem;
        }
        .auto-group-s4ev-UTs {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3.4rem 0rem 4.9rem 13.3rem;
          height: 100%;

          .group-14-p1w {
            padding: 1.8rem 1.617rem 1.7rem 1.617rem;
            justify-content: center;
            white-space: nowrap;
            width: 35.4317rem;
            color: #000000;
            background-color: #f5f5f5;
            flex-shrink: 0;
            height: 100%;
            display: flex;
            font-family: Inter, 'Source Sans Pro';
            line-height: 1.2125;
            border-radius: 1.5rem;
            margin-right: 1.7683rem;
            box-sizing: border-box;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 500;
          }
          .submit-4gy {
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-QF3 {
        margin-right: 4.8rem;
        line-height: 0.9166666667;
        color: #000000;
        white-space: nowrap;
        font-size: 2.4rem;
        font-weight: 400;
        letter-spacing: -0.048rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
  }
}
