
html {
	font-size:62.5%;
}

ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.masuk-wTf {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 8.9602rem;

  .esvat-jafarli-rnwqvopijpi-unsplash-1-svg-HXX {
    margin-right: 9.5rem;
    width: 72rem;
    height: 113.4277rem;
    object-fit: cover;
    vertical-align: top;
    flex-shrink: 0;
  }
  .auto-group-gesm-DAH {
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 2.3rem;
    width: 53.5398rem;
    align-items: center;
    display: flex;

    .auto-group-wjpx-YyF {
      box-sizing: border-box;
      padding: 0rem 0.829rem 7.129rem 0.8rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .logo-svg-g3s {
        background-position: -11.6248rem -11.2901rem;
        background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
        flex-shrink: 0;
        margin: 0rem 0rem 2.45rem 7.1rem;
        width: 32.6rem;
        height: 32.6rem;
        position: relative;
        background-size: 170.543% 170.543%;
      }
      .email-Ybs {
        margin-bottom: 2.45rem;
        display: flex;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3.8rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
      }
      .group-23-input-4aD {
        text-decoration-line: underline;
        color: #959494;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 8.4707rem;
        display: flex;
        font-size: 2.4rem;
        font-weight: 700;
        margin-bottom: 4.9293rem;
        width: 100%;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        justify-content: center;
        line-height: 1.25;
        letter-spacing: -0.048rem;
        white-space: nowrap;
        border: solid 0.3rem #6ac76e;
        background-color: #fffbfb;
        border-radius: 3.5rem;
      }
      .password-hdB {
        font-weight: 700;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 2.4rem;
        display: flex;
        justify-content: center;
        font-size: 3.8rem;
        flex-shrink: 0;
        width: 100%;
        align-items: center;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-24-input-END {
        justify-content: center;
        line-height: 1.25;
        border-radius: 3.5rem;
        flex-shrink: 0;
        height: 8.4707rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        background-color: #fffbfb;
        color: #959494;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -0.048rem;
        border: solid 0.3rem #6ac76e;
      }
    }
    .group-9-button-Vow {
      display: flex;
      align-items: center;
      color: #000000;
      border: solid 0.1rem #05fc00;
      background-color: #6ac76e;
      white-space: nowrap;
      box-sizing: border-box;
      border-radius: 5rem;
      margin-bottom: 1.7863rem;
      width: 100%;
      justify-content: center;
      font-size: 4rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      height: 9.0137rem;
      cursor: pointer;
      font-weight: 700;
      line-height: 1.2125;
    }
    .belum-punya-akun-daftar-9tV {
      white-space: nowrap;
      cursor: pointer;
      display: flex;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      font-weight: 600;
      line-height: 1.2125;
      flex-shrink: 0;
      margin-left: 0.2602rem;
      align-items: baseline;
      justify-content: center;
      font-size: 2rem;

      .belum-punya-akun-daftar-9tV-sub-0 {
      }
      .belum-punya-akun-daftar-9tV-sub-1 {
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #4abcfb;
      }
    }
  }
}
