
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pesanan-Pnq {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .group-25-W6m {
    height: 15.7rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
    margin-bottom: 12.3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    flex-shrink: 0;
    padding: 0.8rem 6.7rem 1rem 6.2rem;
    width: 100%;

    .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-9vR {
      position: relative;
      background-size: 170.543% 170.543%;
      background-position: -4.9566rem -4.8139rem;
      background-image: url('REPLACE_IMAGE:b171f50bf0692036d10989b75fba14dfea95f706');
      flex-shrink: 0;
      margin-right: 45.15rem;
      width: 13.9rem;
      height: 13.9rem;
    }
    .frame-8-oVB {
      align-items: center;
      flex-shrink: 0;
      margin: 3.1rem 0;
      height: calc(100% - 6.2rem);
      display: flex;

      .auto-group-brhs-Lk1 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.45rem 3.1rem 2.25rem 0rem;
        height: 100%;
        display: flex;
        align-items: center;

        .home-Gdf {
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 5.1rem;
          cursor: pointer;
          text-align: center;
          letter-spacing: -0.072rem;
          color: #000000;
        }
        .artikel-Ayw {
          color: #000000;
          margin-right: 5.25rem;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
          letter-spacing: -0.072rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          text-align: center;
        }
        .pesanan-UUq {
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 5.2rem;
          text-align: center;
          color: #000000;
          letter-spacing: -0.072rem;
          white-space: nowrap;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.8333333333;
        }
        .akun-zCH {
          letter-spacing: -0.072rem;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          cursor: pointer;
          font-size: 3.6rem;
          font-weight: 700;
          text-align: center;
          line-height: 0.8333333333;
          flex-shrink: 0;
        }
      }
      .shopping-online-2-WwK {
        width: 8.3rem;
        height: 7.7rem;
        cursor: pointer;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .semua-produk-ovR {
    color: #000000;
    display: flex;
    font-size: 4rem;
    justify-content: center;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
  }
  .auto-group-lach-wWq {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 5rem 5.5rem 14.5rem 3.4rem;
    width: 100%;

    .line-1-fSq {
      background-color: #000000;
      flex-shrink: 0;
      margin: 0rem 9rem 5.9rem 7.7rem;
      width: calc(100% - 16.7rem);
      height: 0.1rem;
    }
    .auto-group-pkzh-a41 {
      flex-shrink: 0;
      padding: 3.3rem 3.1rem 3.3rem 5.5rem;
      height: 49.6rem;
      align-items: center;
      box-shadow: 0 0.8rem 0.8rem #6ac76e;
      border-radius: 2rem;
      margin: 0rem 0rem 6rem 1.2rem;
      box-sizing: border-box;
      display: flex;
      background-color: #eef3ee;

      .auto-group-uqvw-fLM {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 8.8rem 7.55rem 0rem;

        .rectangle-21-Pn9 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
          flex-shrink: 0;
          margin-bottom: 6.05rem;
          width: 26.4rem;
          height: 24.5rem;
        }
        .rp-18000--7CM {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #38933b;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .brokoli-500-gram-Ryj {
        margin: 0rem 40rem 4.3rem 0rem;
        max-width: 19.1rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #38933b;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-dx1f-9Pw {
        width: 31rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 12rem;

        .auto-group-bvnh-Ux1 {
          height: 9.2rem;
          justify-content: center;
          border: solid 0.2rem #05fc00;
          flex-shrink: 0;
          margin-bottom: 5.4rem;
          font-size: 4rem;
          color: #000000;
          border-radius: 5rem;
          width: 100%;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
          background-color: #6ac76e;
          display: flex;
          font-weight: 700;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .auto-group-m4kb-cgq {
          background-color: #6ac76e;
          border-radius: 5rem;
          flex-shrink: 0;
          height: 9.2rem;
          justify-content: center;
          font-weight: 700;
          border: solid 0.2rem #05fc00;
          align-items: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          box-sizing: border-box;
          font-size: 4rem;
          display: flex;
          line-height: 1.2125;
          width: 100%;
        }
      }
    }
    .auto-group-p7ym-3XF {
      border-radius: 2rem;
      flex-shrink: 0;
      margin: 0rem 0rem 8.2rem 1.2rem;
      box-sizing: border-box;
      height: 49.6rem;
      display: flex;
      padding: 2.2rem 3.1rem 2.2rem 5.5rem;
      align-items: center;
      box-shadow: 0 0.8rem 0.8rem #6ac76e;
      background-color: #eef3ee;

      .auto-group-cqnm-jey {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 8.8rem 6.85rem 0rem;

        .rectangle-13-4x9 {
          flex-shrink: 0;
          margin-bottom: 7.95rem;
          width: 26.4rem;
          height: 25.5rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 2rem;
        }
        .rp-11000--CYZ {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #38933b;
        }
      }
      .pisang-500-gram-jYV {
        flex-shrink: 0;
        margin: 0rem 40rem 0.5rem 0rem;
        max-width: 19.1rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #38933b;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-tag9-e9f {
        margin-top: 14.6rem;
        width: 31rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .group-42-mzy {
          color: #000000;
          box-sizing: border-box;
          border-radius: 5rem;
          flex-shrink: 0;
          width: 100%;
          font-weight: 700;
          display: flex;
          justify-content: center;
          margin-bottom: 5.4rem;
          height: 9.2rem;
          background-color: #6ac76e;
          font-size: 4rem;
          line-height: 1.2125;
          white-space: nowrap;
          border: solid 0.2rem #05fc00;
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-wwqo-dnH {
          align-items: center;
          line-height: 1.2125;
          border: solid 0.2rem #05fc00;
          flex-shrink: 0;
          color: #000000;
          background-color: #6ac76e;
          border-radius: 5rem;
          height: 9.2rem;
          font-weight: 700;
          white-space: nowrap;
          width: 100%;
          display: flex;
          justify-content: center;
          font-size: 4rem;
          font-family: Inter, 'Source Sans Pro';
          box-sizing: border-box;
        }
      }
    }
    .auto-group-7nnd-GKT {
      box-sizing: border-box;
      padding: 3.1rem 3.1rem 3.1rem 5.5rem;
      border-radius: 2rem;
      margin-right: 1.2rem;
      height: 49.6rem;
      display: flex;
      align-items: center;
      box-shadow: 0 0.8rem 0.8rem #6ac76e;
      background-color: #eef3ee;
      flex-shrink: 0;

      .auto-group-kg81-nHo {
        margin: 0rem 7.9rem 4.65rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-3-7qs {
          height: 26.2rem;
          position: relative;
          background-size: 100% 144.86%;
          border-radius: 2rem;
          margin: 0rem 0rem 7.65rem 0.9rem;
          width: 26.4rem;
          flex-shrink: 0;
          background-position: 0.2179rem -8.3384rem;
          background-image: url('REPLACE_IMAGE:6744e5be406a70be7a7c83dd5ccf1ecc8a8ffd5c');
        }
        .rp-23000--nx1 {
          display: flex;
          font-size: 4rem;
          font-weight: 700;
          line-height: 1.2125;
          color: #38933b;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .terong-1-kg-7zH {
        margin: 3.5rem 45.3rem 0rem 0rem;
        max-width: 13.8rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #38933b;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .auto-group-xrlv-37F {
        margin-top: 11.6rem;
        width: 31rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-gnwd-acy {
          color: #000000;
          background-color: #6ac76e;
          height: 9.2rem;
          display: flex;
          font-weight: 700;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          border: solid 0.2rem #05fc00;
          box-sizing: border-box;
          flex-shrink: 0;
          margin-bottom: 5.4rem;
          width: 100%;
          align-items: center;
          font-size: 4rem;
          justify-content: center;
          white-space: nowrap;
          border-radius: 5rem;
        }
        .auto-group-elim-SfB {
          font-size: 4rem;
          white-space: nowrap;
          border-radius: 5rem;
          width: 100%;
          align-items: center;
          font-weight: 700;
          box-sizing: border-box;
          background-color: #6ac76e;
          flex-shrink: 0;
          height: 9.2rem;
          display: flex;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          border: solid 0.2rem #05fc00;
        }
      }
    }
  }
  .frame-7-6Dw {
    padding: 4rem 11rem 2.9rem 11rem;
    overflow: hidden;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #6ac76e;

    .subscribe-to-our-newsletter-pQq {
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 78.1rem 2.9rem 0rem;
      font-size: 3.2rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-mgph-Xa9 {
      margin: 0rem 12.9rem 4.6rem 0rem;
      width: calc(100% - 12.9rem);
      height: 14.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-FFF {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        max-width: 47.7rem;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.15625;
        letter-spacing: -0.064rem;
      }
      .auto-group-8qfb-w85 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.4rem 0rem 4.9rem 13.3rem;
        height: 100%;

        .group-14-s1j {
          width: 35.4317rem;
          font-size: 2.4rem;
          padding: 1.8rem 1.617rem 1.7rem 1.617rem;
          white-space: nowrap;
          display: flex;
          justify-content: center;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          border-radius: 1.5rem;
          flex-shrink: 0;
          margin-right: 1.7683rem;
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          font-weight: 500;
          line-height: 1.2125;
          background-color: #f5f5f5;
        }
        .submit-7gm {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2125;
        }
      }
    }
    .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-ewb {
      font-size: 2.4rem;
      letter-spacing: -0.048rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      margin-right: 4.8rem;
      font-weight: 400;
      line-height: 0.9166666667;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
}
