
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pesanan-Pnq {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pesanan-Pnq .group-25-W6m {
  margin-bottom: 12.3rem;
  box-sizing: border-box;
  padding: 0.8rem 6.7rem 1rem 6.2rem;
  width: 100%;
  height: 15.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.200000003);
  background-color: #ffffff;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-9vR {
  margin-right: 45.15rem;
  width: 13.9rem;
  height: 13.9rem;
  position: relative;
  background-size: 170.543% 170.543%;
  background-position: -4.9566rem -4.8139rem;
  background-image: url('../assets/kremdanhijauilustrasilogokateringmasakanrumahan-removebg-preview-1-vLq.png');
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB {
  margin: 3.1rem 0;
  height: calc(100% - 6.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .auto-group-brhs-Lk1 {
  box-sizing: border-box;
  padding: 2.45rem 3.1rem 2.25rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .auto-group-brhs-Lk1 .home-Gdf {
  margin-right: 5.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: -0.072rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .auto-group-brhs-Lk1 .artikel-Ayw {
  margin-right: 5.25rem;
  cursor: pointer;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: -0.072rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .auto-group-brhs-Lk1 .pesanan-UUq {
  margin-right: 5.2rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: -0.072rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .auto-group-brhs-Lk1 .akun-zCH {
  cursor: pointer;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.8333333333;
  letter-spacing: -0.072rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .group-25-W6m .frame-8-oVB .shopping-online-2-WwK {
  width: 8.3rem;
  height: 7.7rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pesanan-Pnq .semua-produk-ovR {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq {
  box-sizing: border-box;
  padding: 5rem 5.5rem 14.5rem 3.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .line-1-fSq {
  margin: 0rem 9rem 5.9rem 7.7rem;
  width: calc(100% - 16.7rem);
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 {
  margin: 0rem 0rem 6rem 1.2rem;
  box-sizing: border-box;
  padding: 3.3rem 3.1rem 3.3rem 5.5rem;
  height: 49.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.8rem 0.8rem #6ac76e;
  background-color: #eef3ee;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-uqvw-fLM {
  margin: 0rem 8.8rem 7.55rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-uqvw-fLM .rectangle-21-Pn9 {
  margin-bottom: 6.05rem;
  width: 26.4rem;
  height: 24.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-uqvw-fLM .rp-18000--7CM {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .brokoli-500-gram-Ryj {
  margin: 0rem 40rem 4.3rem 0rem;
  max-width: 19.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-dx1f-9Pw {
  margin-top: 12rem;
  width: 31rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-dx1f-9Pw .auto-group-bvnh-Ux1 {
  margin-bottom: 5.4rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-pkzh-a41 .auto-group-dx1f-9Pw .auto-group-m4kb-cgq {
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF {
  margin: 0rem 0rem 8.2rem 1.2rem;
  box-sizing: border-box;
  padding: 2.2rem 3.1rem 2.2rem 5.5rem;
  height: 49.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.8rem 0.8rem #6ac76e;
  background-color: #eef3ee;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-cqnm-jey {
  margin: 0rem 8.8rem 6.85rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-cqnm-jey .rectangle-13-4x9 {
  margin-bottom: 7.95rem;
  width: 26.4rem;
  height: 25.5rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-cqnm-jey .rp-11000--CYZ {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .pisang-500-gram-jYV {
  margin: 0rem 40rem 0.5rem 0rem;
  max-width: 19.1rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-tag9-e9f {
  margin-top: 14.6rem;
  width: 31rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-tag9-e9f .group-42-mzy {
  margin-bottom: 5.4rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-p7ym-3XF .auto-group-tag9-e9f .auto-group-wwqo-dnH {
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT {
  margin-right: 1.2rem;
  box-sizing: border-box;
  padding: 3.1rem 3.1rem 3.1rem 5.5rem;
  height: 49.6rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.8rem 0.8rem #6ac76e;
  background-color: #eef3ee;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-kg81-nHo {
  margin: 0rem 7.9rem 4.65rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-kg81-nHo .rectangle-3-7qs {
  margin: 0rem 0rem 7.65rem 0.9rem;
  width: 26.4rem;
  height: 26.2rem;
  position: relative;
  background-size: 100% 144.86%;
  background-position: 0.2179rem -8.3384rem;
  background-image: url('../assets/rectangle-3-9Jy.png');
  border-radius: 2rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-kg81-nHo .rp-23000--nx1 {
  display: flex;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .terong-1-kg-7zH {
  margin: 3.5rem 45.3rem 0rem 0rem;
  max-width: 13.8rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #38933b;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-xrlv-37F {
  margin-top: 11.6rem;
  width: 31rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-xrlv-37F .auto-group-gnwd-acy {
  margin-bottom: 5.4rem;
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .auto-group-lach-wWq .auto-group-7nnd-GKT .auto-group-xrlv-37F .auto-group-elim-SfB {
  width: 100%;
  height: 9.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.2rem #05fc00;
  box-sizing: border-box;
  background-color: #6ac76e;
  border-radius: 5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw {
  box-sizing: border-box;
  padding: 4rem 11rem 2.9rem 11rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #6ac76e;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .subscribe-to-our-newsletter-pQq {
  margin: 0rem 78.1rem 2.9rem 0rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .auto-group-mgph-Xa9 {
  margin: 0rem 12.9rem 4.6rem 0rem;
  width: calc(100% - 12.9rem);
  height: 14.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .auto-group-mgph-Xa9 .jadilah-yang-pertama-mengetahui-tentang-promo-hasil-panen-dan-informasi-terbaru-mengenai-pertanian-FFF {
  max-width: 47.7rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.15625;
  letter-spacing: -0.064rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .auto-group-mgph-Xa9 .auto-group-8qfb-w85 {
  box-sizing: border-box;
  padding: 3.4rem 0rem 4.9rem 13.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .auto-group-mgph-Xa9 .auto-group-8qfb-w85 .group-14-s1j {
  margin-right: 1.7683rem;
  box-sizing: border-box;
  padding: 1.8rem 1.617rem 1.7rem 1.617rem;
  width: 35.4317rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #f5f5f5;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .auto-group-mgph-Xa9 .auto-group-8qfb-w85 .submit-7gm {
  margin-bottom: 0.4rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pesanan-Pnq .frame-7-6Dw .kebijakan-cookie-kebijakan-privasi-syarat-dan-ketentuan-hubungi-kami-ewb {
  margin-right: 4.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 0.9166666667;
  letter-spacing: -0.048rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
